.return {
    color: #fff;
    margin: 1.5rem 1rem;
    position: absolute;
    padding: .8rem;
    background: rgba(255, 255, 255, 0.033);
    border-radius: 50%;
    z-index: 10;
    transition: .5s;
}
.return:hover {
    background: rgba(255, 255, 255, 0.11);
    border-radius: 50%;
    cursor: cell;
    transition: .3s;
}

.background {
    cursor: default;
}

.details-basic {
    display: grid;
    width: 100%;
    grid-template-columns: 6fr 1fr;
    z-index: 3;
}

.division {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
}


.name-type {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: left;
    justify-content: center;
    padding: 5.4rem 4rem;
    position: absolute;
}

.details-basic .types {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0;
}

.details-basic .types .type {
    color: #fff;
    background-color: rgba(239, 239, 239, 0.11);
    padding: 0;
    margin: 0;
    list-style: none;
    color: #fff;
    padding: .3rem .6rem;
    font-size: 1rem;
    margin: 0 0.2rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.caracteristicas .name {
    color: #fff;
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}


.number-pokemon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 8.8rem;
}

.caracteristicas .number {
    color: #fff;
    position: absolute;
    padding: 2rem 0;
}

.pokemon-img {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    z-index: 2;
    background: transparent;
}
.pokemon-img img {
    max-width: 100%;
    height: 200px;
    top: 30px;
}

.details-avanced {
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.informations {
    width: 100%;
    margin: 0;
    color: rgba(0, 0, 0, 0.37);
    padding: 3rem 0 0rem;
    display: flex;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.select {
    color: rgba(0, 0, 0, 0.944);
}

.select::after {
    content: '';
    width: 50px;
    height: 2px;
    background: rgb(4, 85, 51);
    display: block;
    margin: 1rem auto;
}

.informations::after {
    content: '';
    width: 87%;
    height: 2px;
    background: rgba(4, 85, 51, 0.153);
    display: block;
    position: absolute;
    margin: 2.150rem auto;
}


.info-about {
    display: grid;
    grid-template-columns: 26% 1fr;
}

.info-pokemon-left, .info-pokemon-right {
    list-style: none;
    margin: 0;
    padding: 0;
}
.info-pokemon-right .info-right, 
.info-pokemon-left li {
    padding: .5rem 0 .5rem 2rem;
    font-size: .825rem;
}

.info-pokemon-left {
    color: rgba(0, 0, 0, 0.511);
}

.info-pokemon-left h4 {
    color: rgb(7, 52, 37);
    margin: 8px 0;
    font-size: .9rem;
}

.info-pokemon-right h4 {
    color: rgb(7, 52, 37);
    margin: 8px 0;
    font-size: .9rem;
    opacity: 0;
}

.abilities {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.ability {
    margin-right: 1rem;
    padding: 0;
    text-transform: capitalize;
}

.gender {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.gender li {
    margin-right: 1.125rem;
    padding: 0;
}

@media screen and (max-width: 575px) {
    .background-click {
        width: 94%;
    }
}


@media screen and (min-width: 992px) {
    
    .details-basic {
        display: grid;
        width: 100%;
        grid-template-columns: 6fr 1fr;
    }
}
@media screen and (min-width: 1420px) {

    .details-basic {
        display: grid;
        grid-template-columns: 6fr 1fr;
    }

    .info-pokemon-right .info-right, 
.info-pokemon-left li {
    padding: .2rem 0 .5rem 2rem;
    font-size: .725rem;
}

.informations {
    padding: 2rem 0 0rem;
}
}
