.content span {
    color: rgb(255, 255, 255);
}
.content h1{
    color: rgb(241, 0, 0);
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
}

.normal, .normal::-webkit-scrollbar-thumb {
    background-color: #6a6a5d;
}

.grass, .grass::-webkit-scrollbar-thumb {
    background-color: #087d2b;
}

.fire, .fire::-webkit-scrollbar-thumb  {
    background-color: #ab1414;
}

.water, .water::-webkit-scrollbar-thumb  {
    background-color: #1a3983;
}

.electric, .electric::-webkit-scrollbar-thumb  {
    background-color: #bd9a0d;
}

.ice, .ice::-webkit-scrollbar-thumb  {
    background-color: #589fa1;
}

.ground, .ground::-webkit-scrollbar-thumb  {
    background-color: #b79432;
}

.flying, .flying::-webkit-scrollbar-thumb  {
    background-color: #a98ff0;
}

.poison, .poison::-webkit-scrollbar-thumb  {
    background-color: #672a67;
}

.fighting, .fighting::-webkit-scrollbar-thumb  {
    background-color: #bf3029;
}

.psychic, .psychic::-webkit-scrollbar-thumb  {
    background-color: #cc2054;
}

.dark, .dark::-webkit-scrollbar-thumb  {
    background-color: #725847;
}

.rock, .rock::-webkit-scrollbar-thumb  {
    background-color: #b8a137;
}

.bug, .bug::-webkit-scrollbar-thumb  {
    background-color: #92a01a;
}

.ghost, .ghost::-webkit-scrollbar-thumb  {
    background-color: #2a213c;
}

.steel, .steel::-webkit-scrollbar-thumb  {
    background-color: #b9b7cf;
}

.dragon, .dragon::-webkit-scrollbar-thumb  {
    background-color: #6f38f6;
}

.fairy, .fairy::-webkit-scrollbar-thumb  {
    background-color: #ec90af;
}

.pokemon {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    margin: .4rem;
    padding: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    z-index: 5;
    cursor: cell;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .825rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
    font-size: 1.56rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .35rem .8rem;
    margin: .25rem 0;
    font-size: .725rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    background: rgba(255, 255, 255, 0.084);
}

.pokemon .detail img {
    max-width: 100%;
    height: 90px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

.pokemon:hover {
	animation: bounce 0.5s linear;
}

@keyframes bounce {
	20% {
			transform: translateY(-13px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-5px);
	}
	100% {
			transform: translateY(0);
	}
}

@media screen and (min-width: 350px) {
    .pokemons {
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 420px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .pokemons-click{
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .pokemons-click{
        grid-template-columns: 1fr 1fr;
    }

}
@media screen and (min-width: 1420px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    } 
    .pokemons-click{
        grid-template-columns: 1fr 1fr;
    }
}


